.selected-products .product{
    background-color:#fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.5em;
    padding: 0.7em;
}
.selected-products .product img{
    border-radius: 0.3em;
}